.swiper {
  width: 1000px;
  height: 620px;
}

.my-swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev {
  background-image: url("../../../public/preveous.svg");
  background-size: contain;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  left: 48px;
  width: 50px;
  mix-blend-mode: "multiply";
  filter: "invert(54%) sepia(100%) saturate(7075%) hue-rotate(19deg) brightness(108%) contrast(110%)";
}

.swiper-button-next {
  background-image: url("../../../public/nextbtn.svg");
  background-size: contain;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  right: 48px;
  width: 50px;
}

@media (max-width: 768px) {
  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;

  }
}