@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
   outline: 1px solid red;
} */

body {
   margin: 0;
   padding: 0;
}

.custom-date-input::-webkit-calendar-picker-indicator {
   /* background-color: #F43B00; */
   font-size: 24px;
   mix-blend-mode: multiply;
   filter: invert(54%) sepia(100%) saturate(7075%) hue-rotate(19deg) brightness(108%) contrast(110%);
}

.bg-img {
   background-image: url('../public/ezgif.com-webp-to-jpg-converter.jpg');
}

.scroll-bar::-webkit-scrollbar {
   width: 3px !important;
}

.scroll-bar::-webkit-scrollbar-thumb {
   background-color: #F43B00;
}

.product-overlay {
   position: relative;
}

.product-overlay::after {
   content: '';
   background-color: rgba(0, 0, 0);
   opacity: .4;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}